body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111;
  color: white;
  margin-top: 50px;
}

#volumeBtn {
  position: absolute;
  padding: 15px 25px;
  font-size: 18px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#volumeDisplay {
  font-size: 24px;
  margin-bottom: 20px;
}